.nav-main {
  z-index: 2;
  position: fixed;
    top: 0px;
  width: 100%;
  height: 77px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  display: flex;

}

.nav-mid {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-container {
  width: 35%;
  display: flex;
  margin-right: 10px;
}

.search-container {
  padding: 10px;
  display: none;  // change to flex
  justify-content: center;
}

.search {
  border-radius: 5px;
  background: #fafafa;
  font-size: 14px;
  width: 215px;
  height: 26px;
  font-size: 12px;
  border: 1px solid #efefef;
  margin: 10px;
  text-indent:8px;
  text-align: center;
}

.search:focus {
  text-align: left;
  background: #fafafa;
  outline-color: black;
  outline-style: none;
  border-color: lightgrey;
}



.nav-right {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-container {
  width: 155px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-nav {
  color: gray;
  font-size: 19px;
}

.nav-icon {
  color: inherit;
  font-size: 19px;
}

.nav-icon:hover {
  cursor: pointer;
}
